<div class="setup_page">

  <p>Please enter your SSC to proceed</p> 
  </br>
  <%= form_tag("./page2") do %>
    <%= label_tag(:ssc, "SSC:") %>
    <%= text_field_tag(:ssc) %>
    </br>
    </br>
    <div class="submit_btn">

      <%= submit_tag("Login") %>
    </div>
    </br>
    </br>
  <% end %>
  <%= form_tag("./page2" ) do %>
    <%= hidden_field_tag 'sendnew', 'yes' %>
    <%= submit_tag("Request new Challenge Symbol") %>
  <% end %>
  <%= render 'setup/form_sscgen' %>
</div>
