<div class="setup_page_form">

<div class="center_text">
<p class="welcome_login_heading"> Edit Your Profile</p>
</div>


  <%= form_tag(root_path, method: "get") do %>
    <%= submit_tag("Back To Home") %>
  <% end %>

</br></br>

  <%= form_for(@profile, url: './update') do |f| %>
    <%= render 'form_edit', :f => f %>
    <div class="submit_btn">
      <%= f.submit("Update Profile") %>
    </div>
  <% end %>
</div>
