<div class="setup_page">


  <span class="center_text">
  <h3> Enter <span class="underlined_text">your</span> <span class="green_text">SSC</span><span class="trade_mark">&#0153</span> </h3> 
  

        <input type='text' id='debug'>

  <div class="ssc-gen">
    <h3> <span class="green_text">S</span>ecret <span class="green_text">S</span>ecurity <span class="green_text">C</span>ode Generator </h3>


      <p>
      <label>Your <%= @a.name %>:</label>
      <span class="input-wide">
        <input type='text' id='numbers'>
      </span>
      </p>

      <img src="/assets/plus.png"/>
      
      <p>
      <label>Your Box Code:</label> <br/>
      <input maxlength ='2' size='2' type='text' id='first'>
      <input maxlength ='2' size='2' type='text' id='second'>
      <input maxlength ='2' size='2' type='text' id='third'>
      </p>

      <img src="/assets/plus.png"/>

      <p>
      <label>Your Challenge Graphic:</label> <br/>

      <div class="submit_btn2">
      <%= form_tag("./sendNewCT" ) do %>
          <%= hidden_field_tag 'sendnew', 'yes' %>
          <%= submit_tag("Request new Challenge Symbol") %>
        <% end %>
      </div>

      <input maxlength ='1' size='1' type='text' id='ct_in'> <br/>

      </p>

      <span class="img_medium"><img src="/assets/equal.png"/></span>
  </div>

    <p>Please type in <span class="underlined_text">your</span> <span class="green_text">SSC!</span></p> 
    <%= form_tag("./page2") do %>
      <%= label_tag(:ssc, "SSC:") %>
      <%= text_field_tag(:ssc) %>
</div>

</span>

<div class="setup_page_get_started_link_new">
        <%= submit_tag("Next") %>
      </div>
    <% end %> 

<script type="text/javascript" charset="utf-8">

$('#numbers').focusout(function(){
    var valuesToSubmit = $(this).val();
      $.ajax({
        url: "<%= checkSSC_login_index_path %>", 
        data: {data: valuesToSubmit},
        contentType: "text/plain",
        dataType: "html" 
        }).success(function(json){
        //act on result.
        if(json=='true')
           $('#debug').val("valid ssc "); 
        else
           $('#debug').val("invalid ssc:"+json); 
      });

});
$('#first').keyup(function(){
if ($(this).val().length==2)
    $('#second').focus();
});
$('#second').keyup(function(){
if ($(this).val().length==2)
    $('#third').focus();
});
$('#third').focusout(function(){
  var valuesToSubmit = $('#first').val()+','+ $('#second').val()+','+$(this).val()+'';
      $.ajax({
        url: "<%= checkBoxCode_login_index_path %>", 
        data: {data: valuesToSubmit},
        contentType: "text/plain",
        dataType: "html" 
        }).success(function(json){
        //act on result.
          if(json=='true')
           $('#debug').val("valid ssc "); 
        else
           $('#debug').val("invalid ssc:"+json);
      });
});
$('#ct_in').focusout(function(){
    var numbers = $('#numbers').val();
    var ct = $(this).val();
    var numbers_a = numbers.split('');
    numbers_a[parseInt($('#first').val())-1] = ct;
    numbers_a[parseInt($('#second').val())-1] = ct;
    numbers_a[parseInt($('#third').val())-1] = ct;
    var numbers_i = numbers_a.join('');
    $('#ssc').val(numbers_i);
    var valuesToSubmit = numbers_i; 
      $.ajax({
        url: "<%= checkCT_login_index_path %>", 
        data: {data: valuesToSubmit},
        contentType: "text/plain",
        dataType: "html" 
        }).success(function(json){
        //act on result.
          if(json=='true')
           $('#debug').val("valid ct "); 
        else
           $('#debug').val("invalid ct:"+json);
      });
});


$('.submit_btn2 form').submit(function() {  
      $(".submit_btn2 :submit").prop('disabled', true);
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        url: $(this).attr('action'), 
        data: valuesToSubmit,
        dataType: "JSON" 
        }).success(function(json){
        //act on result.
      });
      return false; 
    });
</script>
