<h1>Login</h1>
<p>Please enter your SSC to proceed</p> 
<div style="width:300px;height:100px;border:1px solid;" align='center'>
  </br>
  <%= form_tag("./page2", method: "put") do %>
    <%= label_tag(:ssc, "SSC:") %>
    <%= text_field_tag(:ssc) %>
    <%= submit_tag("Login") %>
    </br>
    </br>
  <% end %>
  <%= form_tag("./page2", method: "put") do %>
    <%= hidden_field_tag 'sendnew', 'yes' %>
    <%= submit_tag("Request new Challange text") %>
  <% end %>
</div>
