<div class="setup_page">


  <span class="center_text">
  <h3> Enter <span class="underlined_text">your</span> <span class="green_text">SSC</span><span class="trade_mark">&#0153</span> </h3> 
  


  <div class="ssc-gen">
    <h3> <span class="green_text">S</span>ecret <span class="green_text">S</span>ecurity <span class="green_text">C</span>ode Generator </h3>


      <p>
      <label>Your <%= @a.name %>:</label>
      <span class="input-wide">
        <input type='text' id='numbers'>
      </span>
      </p>
      <p>
      <label>Your Box Code:</label> <br/>
      <input maxlength ='2' size='2' type='text' id='first'>
      <input maxlength ='2' size='2' type='text' id='second'>
      <input maxlength ='2' size='2' type='text' id='third'>
      </p>
      <p>
      <label>Your Challenge Graphic:</label> <br/>

      <input maxlength ='1' size='1' type='text' id='ct_in'> <br/>

      <div class="submit_btn2">
      <%= form_tag("./sendNewCT" ) do %>
          <%= hidden_field_tag 'sendnew', 'yes' %>
          <%= submit_tag("Request new Challenge Symbol") %>
        <% end %>
      </div>

      </p>
      <div class="submit_btn2">
        <input type='button' id='gen_submit' value='Show my SSC!'>
      </div>
  </div>

    <p>Please type in <span class="underlined_text">your</span> <span class="green_text">SSC!</span></p> 
    <%= form_tag("./page2") do %>
      <%= label_tag(:ssc, "SSC:") %>
      <%= text_field_tag(:ssc) %>
</div>

</span>

<div class="setup_page_get_started_link_new">
        <%= submit_tag("Next") %>
      </div>
    <% end %> 

<script type="text/javascript" charset="utf-8">
    $(function() {
        alert(" "+$('input :text').prop('id'));

        $("#gen_submit").click(function() {
          var numbers = $('#numbers').val();
          var ct = $('#ct_in').val();
          var numbers_a = numbers.split('');
          numbers_a[parseInt($('#first').val())-1] = ct;
          numbers_a[parseInt($('#second').val())-1] = ct;
          numbers_a[parseInt($('#third').val())-1] = ct;
          var numbers_i = numbers_a.join('');
          $('#ssc').val(numbers_i);
          $('.gen_output').show();
          return false;
          })
        });
$('.submit_btn2 form').submit(function() {  
      $(".submit_btn2 :submit").prop('disabled', true);
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        url: $(this).attr('action'), 
        data: valuesToSubmit,
        dataType: "JSON" 
        }).success(function(json){
        //act on result.
       alert(json.response); 
      });
      return false; 
    });
</script>
