<div class="login_page">

<p>Please enter <span class="underlined_text">your</span> complete email address and password that you used when you setup <span class="underlined_text">your</span> <span class="italic_text">profile</span>!</p> 
  </br>
  <%= form_tag("./page1") do %>
    <%= label_tag(:email, "Email Address:") %>
    <%= text_field_tag(:email) %>
    </br></br>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
    </br></br>

    <%= link_to "Forgot Your Password?", :controller => :login , :action => :forgot_pass %>

  
  </br></br>
  <div class="submit_btn">
    <%= submit_tag("Login") %>
    </div>

    <% end %>

</div>
