<div class="setup_page">

<p>Please enter your username(complete email address) and password.</p> 
  </br>
  <%= form_tag("./page1") do %>
    <%= label_tag(:email, "Username:") %>
    <%= text_field_tag(:email) %>
    </br></br>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
    </br></br>

    <%= link_to "Forgot Your Password?", :controller => :login , :action => :forgot_pass %>

  
  </br></br>
  <div class="submit_btn">
    <%= submit_tag("Login") %>
    </div>

    <% end %>

</div>
