<div class="setup_page">

  <p>File your tax return</p>
  <p>content comes here</p>
  </br>
  <%= form_tag(root_path, method: "get") do %>
    <%= submit_tag("Back To Home") %>
  <% end %>

  <p> <%= form_for(@profile, url: './update') do |f| %>
    <%= render 'setup/form_profile', :f => f %>


    <%= f.fields_for(@basic_info) do |b| %>
      <%= render 'setup/form_basicinfo', :f => b%>
    <% end %>

    <%= f.fields_for(@ssc_bank) do |s| %>
      <%= render 'setup/form_sscbank', :f => s%>
    <% end %>


    <div class="submit_btn">
      <%= f.submit("Proceed") %>
    </div>
  <% end %>

</div>
