<div class="setup_page_form">

<div class="center_text">
<h1> Reset Password </h1>
</div>


<div class="submit_btn2">
  <%= form_tag("./reset_password" ) do %>
    <div class="field">
      <%= label_tag :password, "New Password" %>
      <%= password_field_tag :password %>
    </div>
    <small class = "passwrd"> (Must include lower case, upper case, and a number) </small>
    <div class="field">
      <p> <%= label_tag :password_confirmation,"Retype Password",:class => "passwrd" %>
      <%= password_field_tag :password_confirmation %> </p>
    </div>

    <%= submit_tag("Submit") %>
  <% end %>
</div>

</div>




