<div class="setup_page_form">

  <p>View Your Profile</p>
  </br>
  <%= form_tag(root_path, method: "get") do %>
    <%= submit_tag("Back To Home") %>
  <% end %>

  <%= form_for(@profile, url: './update') do |f| %>
    <%= render 'form_edit', :f => f %>
  <% end %>
  <%= form_tag('page3', method: "get") do %>
    <%= submit_tag("Edit Profile") %>
  <% end %>
<script>
$(function(){
$("form *").attr('disabled', true);
$("form :submit").attr('disabled', false);
});
</script>

</div>
