<div class="login_page">

<p class="welcome_login_text"> Next you will enter <span class="underlined_text">your</span> <span class="green_text">SSC</span><span class="trade_mark">&#0153</span> to file and see <span class="underlined_text">your</span> taxes! </p>

	<div class="login_ssc">
		<%= form_tag("./welcome_login") do %>
	        <%= label_tag(:ssc, "Enter Your SSC:") %> 
	      <%= text_field_tag(:ssc) %>
	      <div class="login_ssc_btn">
	        <%= submit_tag("Next") %>
	      </div>
	    <% end %>
	</div> 

	<p class="or_text"> OR </p>

<div class="login_ssc_btn">
<%= button_to "Use SSC Generator", page2_login_index_path, :method => :get  %>
</div>

</div>
