<div class="login_page">

<div class="center_img">
          <img src="/assets/badguy.jpg"/>
        </div>
        <p class="no_margin"><span class="red_text">Beware</span> of who is watching while you enter this information</p>

<p class="welcome_login_text"> Enter <span class="underlined_text">your</span> <span class="green_text">SSC</span><span class="trade_mark">&#0153</span> to file and see <span class="underlined_text">your</span> taxes! </p>

	<div class="login_ssc">

		<%= form_tag("./welcome_login") do %>
	      <%= label_tag(:ssc, "Your SSC:") %> 
	      <%= text_field_tag(:ssc) %>

	      <div class="login_ssc_btn">
	        <%= submit_tag("Next") %>
	      </div>
	    <% end %>
	</div> 

	<p class="or_text"> OR </p>

	<span> Use our easy <span class="green_text">SSC</span><span class="trade_mark">&#0153</span> generator </span>

<div class="login_ssc_btn">
<%= button_to "Generator", page2_login_index_path, :method => :get  %>
</div>

</div>
