<div class="auth_option_id">
  <p><%= f.label :auth_option_id, "Choose one category" %>
  <%= f.select( :auth_option_id,  AuthOption.all.map {|u| [u.name,u.id]}, {:include_blank => "Select Category"}, :class => 'aoid' )%> </p>
</div>

<div class="auth_value">
  <p><%= f.label :auth_value, "Type in that number!" %>
  <label class="le"> </label>
  <%= f.text_field :auth_value, :readonly => 'true', :class => 'aov' %> </p>
</div>
<div class="ssc-field">
  <p><%= f.label :lifetime_id, "Challenge Graphic lifetime" %>
  <%= f.select( :lifetime_id,  Lifetime.all.map {|u| [u.name,u.id]}, {:include_blank => "Select Personal Identification Number Lifetime"}, :class => 'lifetime') %> </p>
</div>



<script type="text/javascript">
  $(function(){    
      lens = "<%= AuthOption.pluck(:length).join(',') %>".split(',');
      ssnID = 1;
      phoneID = 2;

      var sesn = ("<%= session[:pid]%>").trim();
      if(sesn != ""){
        $('.ssc-field *').hide();
        $('.lifetime').val(2); // default 24 hours 
      }
      $('.aoid').change(callback());
      $('.auth_value').keyup(callback());

      function callback(){
      return function(){
      $('.aov').prop('readonly',false);
      var len = lens[parseInt($('.aoid').val())-1];
      if(parseInt($('.aoid').val())==ssnID){
      $('.le').text("");  
      $('.aov').val("<%=@ssn%>");
      $('.aov').prop('readonly', true);
      $('.aov').css('color','black');
      } else if (parseInt($('.aoid').val())==phoneID) {
      $('.le').text("");
      $('.aov').val("<%=@phn%>");
      $('.aov').prop('readonly', true);
      $('.aov').css('color','black');
      } else{
      $('.aov').prop('readonly', false);
      $('.le').text("(Enter "+ parseInt(len) +" numbers)" );
      if ($('.aov').val().length!= (len))
        $('.aov').css('color','red');
      else
        $('.aov').css('color','black');
      }
      $('.aov').prop('maxlength',len);
      }
      }

  });
</script>
