<p> <%= form_for(@profile, :url => "./profile" ) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p> <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Enter your Email"%> </p>
  </div>
  <div class="field">
    <p> <%= f.label :password %>
    <%= f.password_field :password , placeholder: "Must be more than 6 char"%> </p>
  </div>
  <small> (Password should have lower case and upper case characters) </small>

  <div class="field">
    <p> <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Must match Password" %> </p>
  </div>

  <div class="field">
    <p> <%= f.label :phone_number %>
    <%= f.telephone_field :phone_number, placeholder: "Without brackets and spaces" %> </p>
  </div>
  <div class="field">
    <p> <%= f.label :carrier_id, "Phone Carrier" %>
    <%= f.select(:carrier_id, options_from_collection_for_select(@ca, 'id', 'carrier_name', 1 )) %> </p>
  </div>
  <div class="field">
    <p> <%= f.label :street_addr %>
    <%= f.text_field :street_addr %> </p>
  </div>
  <div class="field">
    <p> <%= f.label :apartment_no %>
    <%= f.text_field :apartment_no %> </p>
  </div>
  <div class="field">
    <p> <%= f.label :city %>
    <%= f.text_field :city %> </p>
  </div>
  <div class="field">
    <p> <%= f.label :zip_code %>
    <%= f.text_field :zip_code %> </p>
  </div>
  <div class="field">
    <p> <%= f.label :state %>
    <%= f.text_field :state %> </p>
  </div>
  <div class="field">
    <p> <%= f.label :country %>
    <%= f.text_field :country %> </p>
  </div>
  <div class="submit_btn">
    <%= f.submit("Proceed") %>
  </div>
<% end %>
