<div class="field">
  <p> <%= f.label :email %>
  <%= f.email_field :email, placeholder: "Enter your Email"%> </p>
</div>
<div class="field">
  <%= f.label :password, :class => "passwrd"%>
  <%= f.password_field :password , placeholder: "More than 6 characters", :class => "passwrd"%>
</div>
<small class = "passwrd"> (Must include lower case, upper case, and a number) </small>
<div class="field">
  <p> <%= f.label :password_confirmation,:class => "passwrd" %>
  <%= f.password_field :password_confirmation, placeholder: "Must match Password", :class => "passwrd" %> </p>
</div>
<div class="field">
  <span id='pn'> <%= f.label :home_phone_number, "Home Phone Number" %>
  <%= f.telephone_field :home_phone_number, :class => 'tel', :maxlength=>"13" %> </span>
</div><br/>
<div class="field">
  <span id='pn'> <%= f.label :phone_number, "Cell Phone Number" %>
  <%= f.telephone_field :phone_number, :class => 'tel mobile', :maxlength=>"13" %> </span>
  <br/><small class="passwrd"> (Text messages will be sent to this number) </small>
</div><br/>

<div class="field">
  <%= f.label :carrier_id, "Phone Carrier" %>
  <%= f.select( :carrier_id,  Carrier.all.map {|u| [u.carrier_name,u.id]}, {:include_blank => "Select a Carrier"}) %>
</div>
<small> (Needed to send you a text message!) </small>

<script>

  $(function(){

    $(".tel").each(function(){ 
      if($(this).val().length ==10){
        var phn = (String($(this).val())).split(/[a-zA-Z() -]/).join('');
        $(this).val('('+phn.substring(0,3)+')'+phn.substring(3,6)+'-'+phn.substring(6,10));
      }
    });
    if(<%= session[:login].present? %>){
      $('.passwrd').prop('disabled','true');
      $('.passwrd').prop('hidden','true');
      
    }
    $('.tel').keyup(function (event) {
      //TODO track cursor
      if($(this).hasClass('mobile'))
        $("[id$=carrier_id]").val('');

      
      var phn = (String($(this).val())).split(/[a-zA-Z() -]/).join('');
      var len = phn.length;
      if(len>1 && len < 3)
      $(this).val('( '+phn);
      else if(len>3 && len <6)
      $(this).val('('+phn.substring(0,3)+')'+phn.substring(3,6));
      else if (len>6)
      $(this).val('('+phn.substring(0,3)+')'+phn.substring(3,6)+'-'+phn.substring(6,10));
      return true;
    });

  });
</script>
