<div class="field">
  <p> <%= f.label :email %>
  <%= f.email_field :email, placeholder: "Enter your Email"%> </p>
</div>
<div class="field">
  <p> <small> (Must include lower case, upper case, and a number) </small><%= f.label :password %>
  <%= f.password_field :password , placeholder: "Must be more than 6 characters"%> </p>
</div>
<div class="field">
  <p> <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: "Must match Password" %> </p>
</div>
<div class="field">
  <p id='pn'> <%= f.label :phone_number, "Text-enabled Phone Number" %>
  <%= f.telephone_field :phone_number, :class => 'tel', :maxlength=>"13" %> </p>
</div>
<div class="field">
  <p> <%= f.label :carrier_id, "Phone Carrier" %>
  <%= f.select( :carrier_id,  Carrier.all.map {|u| [u.carrier_name,u.id]}, {:include_blank => "Select a Carrier"}) %> </p>
</div>

<script>

  $(function(){

    var ful_phn = String($('.tel').val());
    if(ful_phn.length ==10){
      var phn = (String($('.tel').val())).split(/[a-zA-Z() -]/).join('');
      $('.tel').val('('+phn.substring(0,3)+')'+phn.substring(3,6)+'-'+phn.substring(6,10));
    }

    $('.tel').keyup(function (event) {
      //TODO track cursor
      var phn = (String($('.tel').val())).split(/[a-zA-Z() -]/).join('');
      var len = phn.length;
      if(len>1 && len < 3)
      $('.tel').val('( '+phn);
      else if(len>3 && len <6)
      $('.tel').val('('+phn.substring(0,3)+')'+phn.substring(3,6));
      else if (len>6)
      $('.tel').val('('+phn.substring(0,3)+')'+phn.substring(3,6)+'-'+phn.substring(6,10));
      return true;
    });

  });
</script>
