<div class="auth_option_id">
  <p><%= f.label :auth_option_id, "Choose your Personal Identification Number category:" %></br>
  <%= f.select( :auth_option_id,  AuthOption.all.map {|u| [u.name,u.id]}, {:include_blank => "Select Personal Identification Number"}, :class => 'aoid' )%> </p>
</div>
<div class="auth_value">
  <p><%= f.label :auth_value, "Enter your number!" %></br>
  <%= f.text_field :auth_value, :class => 'aov' %> </p>
</div>
<div class="ssc-field">
  <p><%= f.label :lifetime_id, "Lifetime for your selection (how long it will remain active)" %></br>
  <%= f.select( :lifetime_id,  Lifetime.all.map {|u| [u.name,u.id]}, {:include_blank => "Select Personal Identification Number Lifetime"}) %> </p>
</div>

<script type="text/javascript">
  $(function(){    
      lens = "<%= AuthOption.pluck(:length).join(',') %>".split(',');
      ssnID = 1;//"<%= (AuthOption.find_by :name => 'SSN').id %>";
      phoneID = 2; // safer option. but actually coming from db/seed

      $('.aoid').change(callback());
      $('.auth_value').keyup(callback());

      function callback(){
      return function(){
      if(parseInt($('.aoid').val())==ssnID){
      $('.aov').val("<%=@ssn%>");
      $('.aov').prop("disabled", true);
      $('.aov').css('color','black');
      } else if (parseInt($('.aoid').val())==phoneID) {
      $('.aov').val("<%=@phn%>");
      $('.aov').prop("disabled", true);
      $('.aov').css('color','black');
      } else{
      $('.aov').prop("disabled", false);
      var len = lens[parseInt($('.aoid').val())-1];
      if ($('.aov').val().length!= (len))
      $('.aov').css('color','red');
      else
      $('.aov').css('color','black');
      }
      }
      }

  });
</script>
