<div class="setup_page_form">

<div class="center_text">
<h1> Personal Information </h1>
</div>

  <%= form_for(@basic_info, :url => "./basicinfo" ) do |f| %>
    <% if @basic_info.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@basic_info.errors.count, "error") %> prohibited this basic_info from being saved:</h2>

        <ul>
          <% @basic_info.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= render 'form_basicinfo', :f => f %>
    <div class="submit_btn">
      <%= f.submit("Proceed") %>
    </div>
  <% end %>

</div>
