<div class="setup_page_3">

<div class="center_text">
<h1>2. Click <span class="red_text">three</span> boxes to create your secret "Box Code"!</h1>
</div>

  <%= form_tag :url => "./page3" do |p| %>
    <%= hidden_field_tag :ct_mask %>
    <div class="boxes_positions">
      <p hidden='true' id='sscbutton' ></p>
      <!-- <span class="box_positions_text"> Box Numbers: </span>
      | <% @len.times do |x|%>
        <% if x < 9 %>
          <span class="box_positions_1"> <%= x+1 %> </span> |
        <% else %>
          <span class="box_positions_2"> <%= x+1 %> </span> |
        <% end %>
      <% end %> -->
    </div>
    <label id='ct_mask_label'></label><label id='ct_mask_label_values'></label>
    
</div>

<div class="setup_page_get_started_link_new">
      <input type='button' value='Next' onclick='checkSubmit()' />
    </div>
  <% end %>

<script>
  window.onload = function(){
    var ssc = ("<%= @ssc_o%>").split('');
    var p2 = document.getElementById("sscbutton");
    var d = document.createElement("div");
    $(d).attr('id','format');
    for (var i = 0; i < (<%= @len%>).valueOf(); i++ ){
      var ce = document.createElement('input');
      $(ce).attr({
        type:'checkbox',
        id:''+i+''
      });
      $(ce).addClass("step3");
      d.appendChild(ce);
      var ce = document.createElement('label');
      var bn = document.createElement('font');
      $(bn).text(parseInt(i+1)).prop('size','5');
      var bv = document.createElement('font');
      $(bv).text(' '+parseInt(ssc[i])).prop('size','10');
      $(ce).append(bn).append(bv);
      $(ce).attr({
        for:''+i+''        
      });
      //$(ce).text(parseInt(i+1)+' '+ssc[i]+'');
      $(ce).css({
        'border-style': 'solid',
        'border-width':'2px',
        'border-color':'black',
        'background':'url(<%=asset_path("button_1.jpg" ) %>)', 
        'background-size': '100% 100%',
        'border': '0',
        'width':'75',
        'height':'110'//,
        //'font-family':"monospace serif"
      });
      $(ce).addClass("step3");
      d.appendChild(ce);
    }
    $(d).buttonset();
    $(p2).append(d);
    $('.ui-button-text').css({
      'padding':'5',
      'float':'left',
      'letter-spacing':'2px',
      'word-spacing':'22px',
      'width' : '80%',
      'word-break':'keep-all',//'break-all',
      'word-wrap':'normal',//'break-word'
      'height':'100%'
    });
    $(p2).show();


    $("#format").click(function(){
      var values = $("#format :checked").map(function(){return (parseInt($(this).attr('id'))+1);}).get();
      $('#format').children('label').css({'background':'url(<%=asset_path("button_1.jpg" ) %>)', 'background-size': '100% 100%'});
      $('#format :checked').next().css({'background':'url(<%=asset_path("button_1_checked.jpg" ) %>)', 'background-size': '100% 100%'});
      $("#ct_mask_label").text("Your secret Box Code is:");
      $("#ct_mask_label_values").text(values);
      
    })

  }
  function checkSubmit(){
    if($("#format :checked").length==3){
      var values = $("#format :checked").map(function(){return (parseInt($(this).attr('id'))+1);}).get();
      $('#ct_mask').val(values);
      $("form").submit();
      return true;
    }
    else{
      alert('You must select 3 boxes');
      return false;
    }
  }

</script>



