<h1>Setup</h1>
<p>Congratulations ! setup process is complete. Press the button below to send the challange text. </p>



<%= form_tag("./page5", method: "put") do %>
  <%= hidden_field_tag 'sendnew', 'yes' %>
  <%= submit_tag("Send Challange text via email/sms") %>
<% end %>


<%= form_tag(root_path, method: "get") do %>
  <%= submit_tag("back to Home") %>
<% end %>
