
<!-- TODO move the javascript in js.erb script-->

<div class="setup_page_3">

  <p>Click 3 boxes to create your box code!</p>


  <%= form_tag :url => "./page3" do |p| %>
    
    <div class="boxes_positions">
      <p hidden='true' id='sscbutton' ></p>
      <%= hidden_field_tag :ct_mask %>
      <span class="box_positions_text"> Box Numbers: </span>
        | <% @len.times do |x|%>
          <% if x < 9 %>
            <span class="box_positions_1"> <%= x+1 %> </span> |
          <% else %>
            <span class="box_positions_2"> <%= x+1 %> </span> |
          <% end %>
        <% end %>
    </div>

    <div class="submit_btn">
      <input type='button' value='Proceed' onclick='checkSubmit()' />
    </div>
  <% end %>


</div>

<script>

  window.onload = function(){
    var ssc = ("<%= @ssc_o%>").split('');
    var p2 = document.getElementById("sscbutton");
    var d = document.createElement("div");
    $(d).attr('id','format');
    for (var i = 0; i < (<%= @len%>).valueOf(); i++ ){
      var ce = document.createElement('input');
      $(ce).attr({
        type:'checkbox',
        id:''+i+''
      });
      $(ce).addClass("step3");
      d.appendChild(ce);
      var ce = document.createElement('label');
      $(ce).attr({
        for:''+i+''
      });
      $(ce).text(''+ssc[i]+'');
      $(ce).css('border-style','solid');
      $(ce).css('border-width','2px');
      $(ce).css('border-color','black');
      $(ce).css('width','50px');
      $(ce).addClass("step3");
      d.appendChild(ce);
    }
    $(d).buttonset();
    $(p2).append(d);
    $(p2).show();

  }
  function checkSubmit(){
    if($("#format :checked").length==3){
      var values = $("#format :checked").map(function(){return (parseInt($(this).attr('id'))+1);}).get();
      $('#ct_mask').val(values);
      $("form").submit();
      return true;
    }
    else{
      alert('Please select 3 box positions');
      return false;
    }
  }

</script>



