<div class="setup_page_form">

<div class="center_text">
<h1> Personal Information </h1>
</div>

  <p> <%= form_for(@profile, :url => "./profile" ) do |f| %>
    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
          <% @profile.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %> 
    <%= render 'form_profile', :f => f%>
    

</div>

    <div class="setup_page_get_started_link_new">
      <%= f.submit("Next") %>
    </div>
  <% end %>