<div class="setup_page_ssc">

<div class="center_text">
<h3>1. Choose your Personal Identification Number Category and enter your number!</h3>
</div>

  <%= form_for(@ssc_bank, :url => "./ssc" ) do |f| %>
    <% if @ssc_bank.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@ssc_bank.errors.count, "error") %> prohibited this ssc_bank from being saved:</h2>

        <ul>
          <% @ssc_bank.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= render 'form_sscbank', :f => f%>
    <div class="submit_btn">
      <%= f.submit("Proceed") %>
    </div>
  <% end %>

</div>
