<!DOCTYPE html>
<html>
  <head>
    <title>SSC</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!-- TODO railafy these stylesheets,  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" >
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <meta name = "viewport" content = "user-scalable = no">
  </head>
  
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </body>

  <footer>
      <p>
      Developed by Becker Technologies LLC
      </p>
  </footer>
</html>
